<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css"/>
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>
<body ng-app="binowPlayingApp">


<!-- Add your site or application content here -->
<div class="header">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/">#NowPlaying in your city</a>
            </div>
        </div>
    </div>
</div>

<div class="container" ng-controller="TwitterController">

    <p>
        This page shows #nowplaying tweets that contain a youtube link in the same city where the user is opening the
        page. It also allows you to post a #nowplaying tweet with a YouTube link.
    </p>

    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <form class="navbar-form navbar-left" role="search">
                <div class="form-group withlogin">
                    <input type="text" class="form-control" ng-model="video" placeholder="Video URL">
                </div>
                <div class="form-group withlogin">
                    <input type="text" class="form-control comment" ng-model="comment" placeholder="Comment">
                </div>
                <a type="submit" class="btn btn-primary withlogin" href="https://twitter.com/intent/tweet?url={{video}}&text={{comment}}&hashtags=nowplaying">
                    <i class="fa fa-twitter"></i>
                    Tweet to now playing
                </a>
                <button ng-click="connectButton()" id="connectButton" type="button" class="btn btn-primary">
                    Connect Twitter
                </button>
                <button ng-click="signOut()" id="signOut" type="button" class="btn btn-primary withlogin">
                    Sign Out
                </button>
            </form>

        </div>
    </nav>

    <div class="row">
        <div class="col-xs-12" id="results">
            <div class="panel panel-default" ng-repeat="t in tweets">
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-7">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item"
                                        ng-src="{{trustSrc(t.entities.urls[0].expanded_url)}}">
                                </iframe>
                            </div>

                        </div>
                        <div class="col-md-5">
                            <div class="col-md-12 tweet">

                                <div>
                                    <a href="https://twitter.com/intent/follow?screen_name={{t.user.screen_name}}" class="btn btn-link btn-lg">
                                        <i class="fa fa-twitter"></i>
                                        follow
                                    </a>
                                </div>

                                <div class="media">
                                    <div class="media-left">
                                        <a href="#">
                                            <img ng-src="{{t.user.profile_image_url}}" class="img-circle">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">{{t.user.name}}</h4>
                                        <span>@{{t.user.screen_name}}</span>
                                    </div>
                                </div>

                                {{t.text}}

                                <div>
                                    <div style="float:right">
                                        <a href="https://twitter.com/intent/tweet?in-reply-to={{t.id_str}}" class="btn btn-link">
                                            <i class="fa fa-reply"></i>
                                            Reply
                                        </a>

                                        <a href="https://twitter.com/intent/retweet?tweet_id={{t.id_str}}" class="btn btn-link">
                                            <i class="fa fa-retweet"></i>
                                            Retweet
                                        </a>

                                        <a href="https://twitter.com/intent/favorite?tweet_id={{t.id_str}}" class="btn btn-link">
                                            <i class="fa fa-star"></i>
                                            Favorite
                                        </a>
                                    </div>
                                    {{calculateSince(t.created_at)}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/oauth-js/dist/oauth.min.js"></script>
<!-- endbower -->
<!-- endbuild -->

<script type="text/javascript" async src="//platform.twitter.com/widgets.js"></script>

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/services/services.js"></script>
<!-- endbuild -->
</body>
</html>
